body {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 1.15;
    color: #111;
}
#wrap {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin: 0px;
}
